<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="<%= get_csrf_token() %>"/>

    <title>Hello Caster!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/main.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <%= for source <- sources do %>
            <li><%= link source.title, to: cast_path(@conn, :index, source: source.source) %></li>
            <% end %>
            <li><%= link "New", to: custom_cast_path(@conn, :new) %></li>
          </ul>
        </div><!-- /.container-fluid -->
      </nav>
      <vue-toast v-ref:toast></vue-toast>

      <%= render "flash.html", info: get_flash(@conn, :info), error: get_flash(@conn, :error) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
